:root {
  --primary400: #2b94ff;
  --primary500: #0071e3;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
  --purpleprimary: #4f1346;
}
.img-container {
  width: 100vw;
  height: 234px;
  background-image: url(../Assets/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  z-index: -1;
}
.bottom-left {
  width: 51px;
  height: 25px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  z-index: -1;
}

/* Chapter list strat */
.chapters {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.chapters::-webkit-scrollbar {
  display: none;
}
.chapter-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  /* z-index: -1; */
  top: 48px;
  /* padding: 10px 0px; */
  width: 100vw;
  height: 40px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  background: #190041;
}
.chapter-list-relative {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 40px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  background: #190041;
}
.chapter-list-wrapper::-webkit-scrollbar {
  display: none;
}
.chapter-list-wrapper::after{
  visibility: hidden;
}
.chapter-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  width: max-content;
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  /* z-index: -1; */
}
.chapter-list-items > li {
  list-style-type: none;
}
.list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  width: max-content;
  list-style-type: none;
  text-decoration: none;
  height: 16px;
  font-family: "Nunito";
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

/* .active {
  border-bottom: 3px solid #9a5aff;
} */
/* Chapter list End */

/* varse wrapper start */
.verse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 6px 16px 6px 6px;
  gap: 6px;
  width: 100vw;
  height: auto;
  background: #ffffff;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.verse-wrapper::-webkit-scrollbar {
  display: none;
}
.verse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 12px 12px 16px;
  gap: 10px;
  width: 95vw;
  height: auto;
  background: #ffffff;
  /* border-radius: 6px; */
  border-bottom: 0.5px solid #e7eaee;
}
/* .line {
    width: 328px;
    height: 0px;
    border: 0.7px solid #e7eaee;
  } */
.verse-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 93vw;
  height: 20px;
}
.verse-num {
  width: 21px;
  height: 19px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 19px; */
  color: #4b5768;
}
.more-btn-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #4b5768;
  border: none;
}
.more-btn {
  display: flex;
  margin-right: .75rem;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.verse-text {
  width: 90vw;
  height: auto;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 19px; */
  color: #4b5768;
}
.verse-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 90vw;
  height: auto;
}
.verse-link-item {
  width: 29px;
  height: 19px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #0071e3;
}
.btn-wrapper {
  width: 76px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-wrapper button {
  color: #0071e3;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.empty {
  width: 100vw;
  height: 48px;
}


.tab-container {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  width: max-content;
  list-style-type: none;
  text-decoration: none;
  height: 40px;
  font-family: "Nunito";
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  /* font-size: 12px; */
  color: #ffffff;
}

.tab.active {
  border-bottom: 3px solid #9a5aff;
}

.tab-content {
  padding: 10px;
  border: 1px solid #ccc;
}