.landing_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background: url("../Assets/landing_page.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 104px;
  height: 130px;
}
.landing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  width: 102px;
  height: 46px;
}

.landing-title h4 {
  width: 102px;
  height: 29px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80%;
  color: #fff;
}
.landing-title h6 {
  width: 40px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}

.landing-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-text {
  width: 234px;
  height: 90px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-text .start-btn {
  text-decoration: none;
}
.start-btn {
  text-align: center;
  padding: 0 20px;
  gap: 10px;
  position: absolute;
  width: 135px;
  height: 32px;
  /* left: 116px; */
  /* top: 560px; */
  bottom: 10%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
