:root {
  --primary500: #0071e3;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
}
.img-container {
  /* position: relative; */
  width: 100vw;
  height: 234px;
  background-image: url(../Assets/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-left {
  position: absolute;
  width: 51px;
  height: 25px;
  left: 14px;
  top: 197px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.m-header-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 12px 16px;
  gap: 10px;
  width: 100vw;
  /* max-width: 100%; */
  height: 48px;
  background:  #190041;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
}
.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 12px;
  width: 94px;
  height: auto;
}

.menu-btn-wrapper button{
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
}
/* .menu-btn-wrapper img{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 19px;
  
  line-height: 19px;
  color: #ffffff;
}
.title button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.help-with-search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 12px;

  width: 60px;
  height: 24px;
}
.help-with-search button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
}
